<!-- include header -->
<%- include('include/_user_header') %>
<!-- /include header -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>The leading 3D E-Commerce Platforms </h3>
              <p>
                Many real economies have begun to transform into an online economy in the current generation, and online consumption has become the norm. Electronic shopping platforms are popular with everyone. Therefore, the people requirements for Electronic commerce platforms have also increased. Improving the services of Electronic commerce platforms is also a big problem for the current generation

                At present, most e-commerce platforms only display information such as wafers, materials, and dimensions on the front and back of the product. Therefore, consumers can only judge whether a product is suitable for them from limited information. However, insufficient information often leads consumers to buy. Some products do not meet their expectations. Therefore, this article will discuss how to use AR and LiDAR scanners improve Electronic commerce. The authenticity of platform products and consumer interaction to enhance the service quality of Electronic commerce platforms.
                
              </p>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Product Section ======= -->
    <section id="product" class="product-us">
      <div class="container">

        <div class="section-title">
          <h2>Product</h2>
        </div>

        <div class="row">

            <div class="row text-center">

              <iframe width=100% height=100% title="Man in Leather Jacket" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/4bc3e9f3bd8d404ba130aa58323ba9bb/embed"> </iframe> 
              <iframe width=100% height=100% title="Call Man"              frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/ec62634ebb5a41f491bbb9da04cd9dd1/embed"> </iframe> 
            
            </div>

          </div>
        </div>
        
      </div>
    </section><!-- End Product Section -->
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


  </main><!-- End #main -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->