<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">

            <div class="content">
              <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>
              <p>
                Many real economies have begun to transform into an online economy in the current generation, and online consumption has become the norm. Electronic shopping platforms are popular with everyone. Therefore, the people requirements for Electronic commerce platforms have also increased. Improving the services of Electronic commerce platforms is also a big problem for the current generation

                At present, most e-commerce platforms only display information such as wafers, materials, and dimensions on the front and back of the product. Therefore, consumers can only judge whether a product is suitable for them from limited information. However, insufficient information often leads consumers to buy. Some products do not meet their expectations. Therefore, this article will discuss how to use AR and LiDAR scanners improve Electronic commerce. The authenticity of platform products and consumer interaction to enhance the service quality of Electronic commerce platforms.
                
            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Events Section -->


  </main><!-- End #main -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->